.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 50px;

    background-color: #ff0000;
    background-image: linear-gradient(to bottom, green, rgb(87, 128, 0), yellow, rgb(255, 217, 0), rgb(255, 30, 0), red);
    color: #001702;
}
