.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url('../../images/background.jpg');
    background-size: cover;             
    background-position: center;
    background-repeat: no-repeat; 
    
    width: 100vw;
    min-height: calc(100vh - 130px);
}

.login-page-card {
    position: relative;
    height: 420px;
    text-shadow: 3px 3px black;
}
