.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-image: url('../../images/background.jpg');
    background-size: cover;             
    background-position: center;
    background-repeat: no-repeat;  

    width: 100vw;
    min-height: calc(100vh - 130px);
}

.signup-page-card {
    height: 700px;
}
