.loader-container {
    position: relative;
    top: 0;
    right: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: calc(100vh - 130px);

    background-image: url('../../../images/background.jpg');
    background-size: cover;             
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #c3c3c3;
}

.loader {
    position: relative;
    background-color: transparent ;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 1.5s infinite linear;
    
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}